@import './magnetic-links.css';
@import './animations.css';

:root {
  --dark: 18, 19, 20;
  --light: 239, 238, 237;

  --red: 227, 52, 47;
  --pink: 234, 83, 214;
  --green: 56, 193, 114;
  --blue: 52, 144, 220;
  --indigo: 75, 0, 130;
  --aqua: 127, 255, 212;

  --bgColor: var(--dark);
  /* --bgColor: var(--indigo); */
  --textColor: var(--light);
  --accent: var(--aqua);
  --primary: var(--indigo);
  --secondary: var(--red);

  --moveOffset: 1.35px;
}

@media (prefers-dark-interface), (prefers-color-scheme: dark) {
  :root {
    --bgColor: var(--dark);
    /* --bgColor: var(--indigo); */
    --textColor: var(--light);
    --accent: var(--aqua);
    --primary: var(--indigo);
    --secondary: var(--red);
  }
}

@media (prefers-light-interface), (prefers-color-scheme: light) {
  :root {
    --bgColor: var(--light);
    /* --bgColor: var(--aqua); */
    --textColor: var(--dark);
    --accent: var(--indigo);
    --primary: var(--blue);
    --secondary: var(--red);
  }
}

body.light {
  --bgColor: var(--light);
  /* --bgColor: var(--aqua); */
  --textColor: var(--dark);
  --accent: var(--indigo);
  --primary: var(--blue);
  --secondary: var(--red);
}

#physics {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

body {
  box-sizing: border-box;
  font-family: -apple-system, 'Helvetica Neue', BlinkMacSystemFont, Cantarell,
    'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(var(--bgColor));
  color: rgb(var(--textColor));
  margin: 0;
  min-height: 100vh;
}

::selection {
  color: rgb(var(--bgColor));
  background-color: rgb(var(--textColor));
}

#experiment {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100vw;
  height: 100vh;
}

.wave,
.wiggle {
  transform: rotate(-15deg);
  will-change: transform;
  display: inline-block;
  animation: waveAnimation 2s ease-in-out infinite alternate 2s;
}

.heartbeat {
  /* transform: scale(1.2); */
  will-change: transform;
  display: inline-block;
  animation: heartbeat 2s ease-in-out infinite alternate;
}

.spin {
  will-change: transform;
  display: inline-block;
  animation: spin 10s linear infinite;
}

.spin.reverse {
  animation-direction: reverse;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.wave {
  transform-origin: 70% 70%;
}

.handshake {
  will-change: transform;
  display: inline-block;
  animation: handshake 3s infinite;
}

@keyframes handshake {
  0%,
  100% {
    transform: translateY(-10%);
    animation-timing-function: ease-in-out;
  }
  50% {
    transform: translateY(10%);
    animation-timing-function: ease-in-out;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.4);
  }
}
