:root {
  --dark: 18, 19, 20;
  --light: 239, 238, 237;

  --red: 227, 52, 47;
  --green: 56, 193, 114;
  --blue: 52, 144, 220;
  --indigo: 75, 0, 130;
  --aqua: 127, 255, 212;

  --bgColor: var(--light);
  /* --bgColor: var(--aqua); */
  --textColor: var(--dark);
  --accent: var(--indigo);
  --primary: var(--blue);
  --secondary: crimson;

  --moveOffset: 1.35px;
}

@media (prefers-dark-interface), (prefers-color-scheme: dark) {
  :root {
    --bgColor: var(--dark);
    /* --bgColor: var(--indigo); */
    --textColor: var(--light);
    --accent: var(--aqua);
    --primary: crimson;
    --secondary: var(--blue);
  }
}

body.dark {
  --bgColor: var(--dark);
  /* --bgColor: var(--indigo); */
  --textColor: var(--light);
  --accent: var(--aqua);
  --primary: crimson;
  --secondary: var(--blue);
}

#physics {
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: -1;
}

#main {
  width: 48rem;
  max-width: 100%;
}

body {
  box-sizing: border-box;
  position: relative;
  font-family: -apple-system, 'Helvetica Neue', BlinkMacSystemFont, Cantarell,
    'Open Sans', sans-serif;
  font-size: calc(22px + 0.33vw);
  -webkit-font-smoothing: antialiased;
  padding: 5vh 10vw;
  background-color: rgb(var(--bgColor));
  color: rgb(var(--textColor));
  margin: 0;
  min-height: 100vh;
}

::selection {
  color: rgb(var(--bgColor));
  background-color: rgb(var(--textColor));
}

a {
  display: inline-block;
  color: rgb(var(--blue));
  position: relative;
  font-weight: 500;
  text-decoration: none;
  transition: color 500ms linear 200ms;

  /* border-bottom: rgb(var(--blue)) 1px solid; */
}

a::before,
a::after {
  transition: transform 500ms ease-out, opacity 500ms linear;
  /* transition: opacity 300ms ease-out; */
}

a::before,
a::after {
  opacity: 0;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
}

a:hover::before,
a:hover::after {
  opacity: 0.75;
}

a::before {
  color: rgb(var(--red));
}

a::after {
  color: rgb(var(--blue));
}

a:hover,
a:focus {
  color: rgb(var(--green));
  transition-delay: 0s;
}

a:hover::before,
a:focus::before {
  transform: translate3d(
    var(--moveX, var(--moveOffset)),
    var(--moveY, var(--moveOffset)),
    0
  );
}

a:hover::after,
a:focus::after {
  color: rgb(var(--blue));
  transform: translate3d(
    calc(-1 * var(--moveX, var(--moveOffset))),
    calc(-1 * var(--moveY, var(--moveOffset))),
    0
  );
}

#experiment {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -10;
  width: 100vw;
  height: 100vh;
}

#experiment-container {
  z-index: -5;
  background-color: rgba(var(--bgColor), 0.5);
  position: fixed;
  top: 0;
  width: 0;
  height: 0;
}

#experiment-container::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5;
  background-color: inherit;
  width: 100vw;
  height: 100vh;
}
